<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
		<h1 class='text-center'>Edit Your Profile</h1>
		<p class='text-center'>Fill out your profile to be a part of the Dev Match community.</p>

		<div class='well'>
			<!-- Form gets processed in the 'create' action of the controller. use rake routes to find correct url path to send form to. Must put url path because it's a singular resource (routes.rb)-->
			<%= render 'form' %>
		</div>
	</div>
</div>